/* ============ COMMON STYLES ============ */
ul,ol {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
.contacts-nav {
    font-style: normal
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* ============ HEADER STYLES ============ */
.page-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        color: #4d5ae5;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.gray-logo {
    color: #2e2f42;
    ;
}

.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus, 
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-item {
    color: #434455;
}

/* ============ HERO STYLES++++++++ ============ */
.hero {
    background-color: #2e2f42;
}
.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-align: center;
}
.order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;

}
.order-button:hover,
.order-button:focus {
        background: #404bbf;
}

/* ============ BENEFITS STYLES ============ */
.benefits {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;


}
.benefits-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.team-item {
    background-color: #FFFFFF;
}
.benefits-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ============ TEAM STYLES ============ */
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
.team-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background-color: #f4f4fd;
}

.portfolio {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
.portfolio-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.page-bottom {
    background-color: #2e2f42;
}
.white-logo {
    color: #f4f4fd;
}
.bottom-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}